.prod_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img_div{
    margin:0 auto;
    max-width: 120px;
    height: 120px;
}

.quantity_but{
    background-color: rgb(224, 224, 224);
    padding-top: 3px;
    text-align: center;
    font-weight: bold;
    width:30px;
    height:30px;
    border-radius: 50px;
}